{% extends "template.html" %}
{% block conteudo %}
<html>
    <body>
        <div>
          <form action="{{url_for('atualizar')}}" method="post" enctype="multipart/form-data">
            <figure class="img-thumbnail col-md-4">
              <img class="img-fluid" src="{{url_for('imagem', nome_arquivo=capa_jogo)}}">
              <figcapition>
                <label class="fileContainer">
                  Mudar capa
                  <input type="file" name="arquivo" accept".jpg .png">
                </label>
              </figcapition>
            </figure>


            <fieldset>
              <input type="hidden" name="id" value="{{id}}">
              <div class="form-group">
                {{form.nome.label(class="form-label")}}
                {{form.nome(class="form-control")}}
              </div>
              <div class="form-group">
                {{form.categoria.label(class="form-label")}}
                {{form.categoria(class="form-control")}}
              </div>
              <div class="form-group">
                {{form.console.label(class="form-label")}}
                {{form.console(class="form-control")}}
              </div>
              <!--<div class="form-group">
                <label for="console">Valor:</label>
                <input type="text" id="preco" name="preco" class="form-control">
              </div> -->
              <div class="form-group">
                {{form.salvar(class="btn btn-primary")}}
                <a class="btn btn-danger" href="{{url_for('logout')}}">Logout</a>
                <a class="btn btn-success" href="{{url_for('index')}}">Inicio</a>
              </div>
            </fieldset>
          </form>
        </div>
    </body> 
</html>
{% endblock  %}